---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
// noinspection ES6UnusedImports
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  date,
  updatedDate,
  image,
  imageAlt,
  discussion,
}: Props = Astro.props;
---

<BaseLayout title={title} description={description} image={image.src}>
  <article>
    <header class="flex flex-row">
      <div class="grow"></div>
      <h1
        class="text-4xl font-extralight text-center uppercase
            p-4 mb-6 rounded-lg
            bg-indigo-50
            dark:bg-zinc-800 dark:font-light"
      >
        {title}
      </h1>
      <div class="grow"></div>
    </header>
    <div class="flex flex-row justify-center">
      <Image
        width={1200}
        height={800}
        src={image}
        alt={imageAlt}
        loading="eager"
      />
    </div>
    <div class="prose prose-zinc dark:prose-invert max-w-none">
      <div class="text-center font-light">
        <FormattedDate date={date} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on
              <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <slot />
      <hr />
      <p>
        <i>
          Was this post super helpful to you? Tip me on
          <a
            href="https://github.com/sponsors/dbanty?frequency=one-time&sponsor=dbanty"
            >GitHub</a
          >,
          <a href="https://www.patreon.com/dbanty">Patreon</a>, or <a
            href="https://ko-fi.com/dbanty">Ko-Fi</a
          >.
        </i>
      </p>
      <p>
        <i>
          Have a question or comment about this post? Leave it in the
          <a
            href=`https://github.com/dbanty/dylananthony.com/discussions/${discussion}`
            >discussion</a
          > thread on GitHub!
        </i>
      </p>
      <p>
        <i>
          Want to be notified of future posts? Watch releases in
          <a rel="author" href="https://github.com/dbanty/dylananthony.com"
            >the GitHub repo</a
          > or
          <a rel="author" href="https://tech.lgbt/@dbanty"
            >follow me on Mastodon</a
          >
        </i>
      </p>
      <p>
        <i>
          Have an idea or request for a future blog topic? Drop it in the GitHub
          discussions under
          <a
            href="https://github.com/dbanty/dylananthony.com/discussions/categories/ideas"
            >ideas</a
          >.
        </i>
      </p>
    </div>
  </article>
</BaseLayout>
